.logo {
  color: $color-accent;
  font-family: $font-family-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.logo-nav {
  margin-right: 93px;
  padding: 24px 0;
}

.header-studio {
  color: $color-logo-dark;
}
