/* ---main colors---*/

$color-text-main: #757575; /* text-color: */
$color-title-main: #212121; /* title-color */
$color-accent: #2196f3; /* accent-color */
$color-light-main: #ffffff; /* hero-title-color */
$color-link-main: #afb1b8; /* social-icon */

/* ---colors header---*/
$color-header-border: #ececec; /* header-border-color */

/* ---colors logo---*/
$color-logo-dark: #000000; /* logo-black-color */

/* ---colors hero---*/
$gradient-hero: rgba(47, 48, 58, 0.4); /* hero-gradient */
$background-color-hero: #2f303a; /* hero-background-color */
$background-color-accent-hover: #188ce8;

/* ---colors we-doing---*/
$gradient-we-doing-thumb: rgba(47, 48, 58, 0.8); /* we-doing-gradient */

/* ---colors team---*/
$background-color-team: #f5f4fa; /* team-background-color */

/* ---colors footer---*/
$background-color-footer: #2f303a; /* footer-background-color */
$background-color-footer-social-link: rgba(
  255,
  255,
  255,
  0.1
); /* footer-social-link */
$color-footer-contacts-list: rgba(255, 255, 255, 0.6); /* footer-email-tel */

/* ---colors-portfolio---*/
$color-portfolio-border: #eeeeee; /* color-border-portfolio */
